@{

}
<div>
    <h1>Adicionando produtos</h1>
    <form action="/Produtos/Salvar" method="post">
        <div>
            <label for="nome">Nome:</label>
            <input pattern="[a-zA-Z0-9]+" type="text" id="Nome" name="Nome" required />
            <label for="nome">Descrição:</label>
            <input type="text" id="Descricao" name="Descricao" required/>
        </div>
        <button type="submit" class="btn btn-primary">Adicionar</button>

    </form>
</div>


