@model User

<div class="text-center">
    <h2 class="display-4">Usando Session</h2>
    <hr />
    <h3>Valores do objeto do tipo User</h3>
    <hr />
    ID : @Model.Id
    <br />
    Nome : @Model.Nome

</div>
